<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    body
    {
        background-color: rgb(14, 209, 131);
    }
    h1
    {
        color:rgb(218, 10, 10) ;
    }
    h3
    {
        color: cornsilk;
        border: 2px;
    }
    h3:hover
    {
        cursor: pointer;
        color: red;
        background-origin: padding-box;
        box-shadow:0 0 30px 20px;
    }
</style>
<body>
    <center>
        <h1>SURESH LOVER NAME IS ?</h1>
        <h3>priya</h3>
    </center>
</body>
</html>